.scroll-touch {
  overflow: auto;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
}

.container {
  background-color: #d57149;
  height: 500px;
  width: 1000px;
  border-radius: 16px;
}
