.scroll-touch {
  overflow: auto;
  height: 80%;
  background-color: #fff;
  border-radius: 5px;
}

.messages-show {
  margin: auto;
  width: 70%;
  height: 100%;

  h1{
    color: #fff5ea;
  }
}

.chatroom {
  background-color: #fc8621;
  border-radius: 5px;
}
