.recruit-index {
  h1 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
  }

  a {
    color: #2f2519;

    &:hover {
      color: #e89f71;
    }
  }
}

.generate-button {
  margin: auto;
}

.recruit-index-top {
  a {
    background-color: #d57149;
    color: #fff5ea;
    border-radius: 5px;
  }
}
