.dashboard {
  img {
    height: 300px;
  }

  h1 {
    font-size: 80px;
  }

  p {
    font-size: 30px;
  }

  .color {
    color: #d57149;

    .active {
      background-color: #d57149;
    }
  }

  .flex-column {
    border-right: 2px #d57149 solid;
  }
}
