.dashboard {
  .nav {
    a {
      color: #d57149;
    }
  }

  .nav-pills .active {
    background-color: #d57149;
  }
}

.dashboard-athlete {
  tbody {
    height: 300px;
    overflow: auto;
  }
}
