<div class="mt-5 container schedule-index">
  <h1>My Schedules</h1>

  <ul>
    <% @schedules.each do |schedule| %>
      <h2 class="mt-5">Option</h2>
      <% schedule.events.each do |event| %>
        <li><%= event.start_time %> <%= event.location %></li>
      <% end %>
    <% end %>
  </ul>
</div>



