<h1>schedules</h1>
<ul>
  <% @schedules.each do |schedule| %>
    <% schedule.events.each do |event| %>
      <li><%= event.start_time %> <%= event.location %></li>
    <% end %>
  <% end %>
</ul>



