<p><%= simple_form_for(@schedule_event) do |f| %>
  <%= f.input :user_id, collection: ScheduleEvent::TEAM_MEMBERS, input_html: { class: 'select2' }, class: 'form-inputs' %>
  <%= f.submit "Assign Event", class: "btn" %>
  <% end %>
</p>
