<%= simple_form_for(schedule_event, url: assign_event_path(schedule_event), method: :patch, remote: true, html: {class: "form-inline"}) do |f| %>
<div>
  <%= f.input :user, collection: team_members, input_html: { class: 'select2' }, label: 'Assign to:', class: 'assigned-input' %>
  <%= f.submit 'Submit', html: {class: 'hide.bs.dropdown'}, class: "assigned-btn" %>
</div>
<% end %>

