<%= simple_form_for(schedule_event, url: assign_event_path(schedule_event), method: :patch, remote: true, html: {class: "form-inline", id: "assign_form"}) do |f| %>
<div class="text-center p-1 d-flex" style="width: 180px;">
  <%= f.input :user, label: 'To:', collection: team_members, input_html: { class: 'select2' }, class: 'assigned-input' %>
 <!--  <button data-action='click->assign#trigger'> -->
  <%= f.submit "submit" %>
  <!-- </button> -->
</div>
<% end %>

