<div data-controller="sweetalert">
<%= simple_form_for(wand, 'data-target' => 'form') do |w| %>
  <%= w.input :check_out, as: :string, required: true, input_html: {class: "datepicker"} %>
  </div>
    <%#= w.input :photos, as: :file, input_html: { multiple: true } %>
  <div>
  <div class='dropdown-divider'></div>
  <button data-action='click->sweetalert#trigger'>
    <%= w.submit class: 'form-partial-button', id: "sweet-alert-create" %>
  </button>
<% end %>
</div>
