<div class="group-avatars">
    <a href="#!" class="avatar rounded-circle">
        <img alt="Image placeholder" src="../../assets/img/theme/team-1.jpg">
    </a>
    <a href="#!" class="avatar rounded-circle">
        <img alt="Image placeholder" src="../../assets/img/theme/team-2.jpg">
    </a>
    <a href="#!" class="avatar rounded-circle">
        <img alt="Image placeholder" src="../../assets/img/theme/team-3.jpg">
    </a>
    <a href="#!" class="avatar rounded-circle">
        <img alt="Image placeholder" src="../../assets/img/theme/team-4.jpg">
    </a>
</div>
