    <!-- ***** Our Team Area Start ***** -->
    <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="investors">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Meet Our Team</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag('https://kitt.lewagon.com/placeholder/users/rachsavoy', alt: "")%>
                        </div>
                        <div class="team-text">
                            <h4>Rachael Savoy</h4>
                            <p>Entrepreneur</p>
                            <div class="team-socials">
                              <a href="#"><i class="fa fa-github"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag('https://kitt.lewagon.com/placeholder/users/victoriadraper27', alt: "")%>
                        </div>
                        <div class="team-text">
                            <h4>Victoria Draper</h4>
                            <p>Brand Ambassador</p>
                            <div class="team-socials">
                              <a href="#"><i class="fa fa-github"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                              <a href="#"> <i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <%=image_tag('https://kitt.lewagon.com/placeholder/users/jlee9701', alt: "")%>
                        </div>
                        <div class="team-text">
                            <h4>Jenn Lee</h4>
                            <p>Brand Ambassador</p>
                            <div class="team-socials">
                              <a href="#"><i class="fa fa-github"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                              <a href="#"> <i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area End ***** -->
