.athlete-show {
  margin: auto;
  width: 60%;
  height: 100%;

  a {
    color: #d57149;
  }

  img {
    border: 4px #393e46 solid;
    width: 200px;
    margin-right: 20px;
  }

  h1, a {
    font-size: 70px;
  }

  p {
    font-size: 20px;
    color: #393e46;
  }

  .btn {
    background-color: #d57149;
    color: #f4f4f2;
  }
}


