<!-- SideNav slide-out button -->
      <nav clas="sidenav vh-100">
        <ul class="nav flex-column list-unstyled components text-center" id="myTab" role="tablist" >
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li class="nav-item">
             <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
              <i class="fa fa-briefcase"></i>
            </a>
          </li>
          <li class="nav-item">
           <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">
              <i class="fa fa-wrench"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </nav>



