<%= render 'shared/header' %>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-9 ">
      <%= render partial: 'events/month', locals: { schedule: @schedule, schedule_event: @schedule_event }  %>
    </div>
    <div class="col-xl-2">
      <%= render 'shared/form' %>
    </div>
  </div>
  <div class="row">
      <div class="col-xl-9 ">
        <%= render 'athletes/athletes'%>
      </div>
  </div>
</div>
