<!-- ***** Wellcome Area Start ***** -->
    <section class="welcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="welcome-heading">
                        <h2>Recruit Up</h2>
                        <h4 class="text-align">Recruiting made efficient!</h4>
                    </div>
                    <div class="get-start-area">
                        <!-- Form Start -->
                        <form action="#" method="post" class="form-inline">
                            <input type="email" class="form-control email" style="margin-right: 16px;" placeholder="name@company.com">
                            <input type="submit" class="btn btn-warning" value="Get Started" style= "border-radius: 4px;">
                        </form>
                        <!-- Form End -->
                    </div>
                    <div class="image_tag">
                      <%= image_tag("calendar.png", alt: "calendar")%>
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome thumb -->
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area gradient-bck section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2> Make the most of your time</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                            <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                        </div>
                        <h4>See your Calendar options</h4>
                        <p>Pick the one that fits you the best</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <h4>Orgainize your recruiting trips!</h4>
                        <p>Take notes on your recruits!</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                        <h4>Able to see your calendar from anywhere</h4>
                        <p>Plus, talk to your coaches!</p>
                    </div>
                </div>
            </div>
        </div>
 <!-- Special Description Area -->
        <div class="special_description_area mt-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                        <%= image_tag("pick.png", alt: "A picture of someone picking a calendar")%>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="special_description_content">
                            <h2>Allows you to create your recruiting schedule with ease!</h2>
                            <p> You put in your players and we will do the work for you. No need to search thousands of websites trying to find out date, times, and locations of your top recruits. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Special Area End ***** -->
     <!-- ***** Reasons For RecruitUp ***** -->
    <section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center">
                        <h2>Why Recruit Up?</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="far fa-calendar-alt" aria-hidden="true"></i>
                        <h5>Generate Calendars</h5>
                        <p> We generate a calendars for you based on your recruits. You then select which calendar works best for you. You are then able to schedule personal days within your calendar. </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fas fa-comments" aria-hidden="true"></i>
                        <h5>Easy Communication with your other coaches</h5>
                        <p>The head coach is able to assign events on the calendar to other coaches on the team. </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fas fa-users" aria-hidden="true"></i>
                        <h5>Orgainizes your recruits</h5>
                        <p>From each event, you are able to write notes on each player. Those notes can be viewed by all coaches. </p>
                    </div>
                </div>

                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fas fa-user" aria-hidden="true"></i>
                        <h5>View individual players</h5>
                        <p>You are able to see their current rating, the team the are on, and any notes that you may have taken about them. </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="fas fa-calendar-day" aria-hidden="true"></i>
                        <h5>View Individual Events</h5>
                        <p> Each event you will be able to see what recruits will be at that event, what coach is attending, the location, and time</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="far fa-calendar-plus" aria-hidden="true"></i>
                        <h5>Customizable Calendar</h5>
                        <p>You are able to change the days that you are available in your calendar.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
       <%= render 'shared/ourteam' %>
