.calendar-heading {
  .calendar-title {
    margin-bottom: 10px;
    font-size: 40px;
  }

  a {
    font-size: 30px;
    color: #aa4a30;
    margin-bottom: 0px;
  }
}

.list-group-item .calendar {
  padding: 2px;
}
