.header {
  // background: $baby-gray;
  background-size: cover;
  background-position: center;
  padding: 40%;
  width: 100%;
  background-color: $light-gray;
  z-index: -1;
  margin-bottom: -25%;
}


