.search-form {
  margin: auto;

  .btn-flat {
    background-color: #e89f71;
  }

  input {
    color: -internal-light-dark($light-gray);
    border-color: -internal-light-dark($light-gray, $gray);
    padding: 1px 5px;

    .placeholder-design {
      color: $light-gray;
    }
  }
}
