#sidebar {
  width: 3.75rem !important;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  padding-top: 8px;
}

.wrapper {
  position: relative;
 }

#sidebar {
    /* background: #1A1E21; */
    z-index: 999999;
    font-size: 16px;
    color: #fff;
    padding: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    bottom: 20px;
    width: 80%;
    border-radius: 5px;
    /* left: 0; */
    /* right: 0; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
  #sidebar-logo img {
    height: 50px;
  }

  #sidebar-content {
    display: inline;
    padding: 0 15px;
  }

  #sidebar-right {
    display: flex;
    align-items: center;
  }

  #sidebar b {
    font-size: 15px !important;
  }

  @media (max-width: 768px) {

    #sidebar {
      flex-direction: column;
      align-items: normal;
    }

    #sidebar-content {
      margin: 15px 0;
      text-align: center;
      font-size: 18px;
    }

    #sidebar-right {
      justify-content: flex-end;
    }
  }

  .calendar-title {
    font-size: 40px;
  }
