<h1>My Recruits</h1>
  <div class='d-flex input-group-prepend w-100 flex-grow-1'>
      <%= render 'shared/search' %>
  </div>
<ul>
  <% @recruits.each do |recruit| %>
    <li>
      <%= recruit.athlete.first_name %> <%= recruit.athlete.last_name %> - <%= recruit.athlete.grad_year %>
    </li>
  <% end %>
</ul>
