<h1>My Recruits</h1>
<ul>
  <% @recruits.each do |recruit| %>
    <li>
      <%= recruit.athlete.first_name %> <%= recruit.athlete.last_name %> - <%= recruit.athlete.grad_year %>
    </li>
  <% end %>
</ul>
