.selecting-schedule {
  font-size: 30px;
  margin: auto;
  background-color: #d57149;
  color: #fff5ea;
  border-radius: 5px;

  &:hover {
    background-color: #fff5ea;
    color: #d57149;
  }
}

.show-calendar {
  margin: auto;
  width: 700px;
}
